[layer="post"] {
  padding-top: $menu-height;
  position: absolute;
  top: 0;
  overflow-y: scroll;
  height: 100%;
  width: 100%;
  background: white;
  z-index: 0;

  .post--full {
    height: 100%;
    width: 100%;
  }

  .img-wrapper {
    height: 200px;
    overflow: hidden;
    position: relative;
    width: 100%;
  }

  .post--content {
    max-width: 960px;
    margin: 0 auto;
    opacity: 1;
  }

  img {
    max-width: 100%;
    transition: all .5s;
    position: absolute;
    top: 50%;
    transform: translateY(-50%) scale(1);
  }

  &.active {
    @include animation(fadeInLayer $speed .6s 1 both);

    .post--content {
      @include animation(fadeInPost $speed .6s 1 both);
    }
  }

  &.inactive {
    @include animation(fadeOutLayer (($speed / 10) * 8) 1 both);

    .post--content {
      @include animation(fadeOutPost (($speed / 10) * 8) 1 both);
    }
  }
}

@include keyframes(fadeInLayer) {
  1% { z-index: 5; }
  100% { z-index: 5; }
}

@include keyframes(fadeOutLayer) {
  1% { z-index: 5; }
  99% { z-index: 5; }
  100% { z-index: -1; }
}

@include keyframes(fadeInPost) {
  0% { opacity: 0; transform: translateY(-20px); }
  100% { opacity: 1; transform: translateY(0); }
}

@include keyframes(fadeOutPost) {
  0% { opacity: 1; transform: translateY(0); }
  100% { opacity: 0; transform: translateY(-20px); }
}
