[layer="post"] {
  padding-top: $menu-height;
  position: absolute;
  top: 0;
  z-index: 3;
  overflow-y: scroll;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: z-index .7s, opacity .4s .7s;
  background: white;

  .post--full {
    height: 100%;
    width: 100%;
  }

  .img-wrapper {
    height: 200px;
    overflow: hidden;
    position: relative;
    width: 100%;
  }

  .post--content {
    max-width: 960px;
    margin: 0 auto;
    transition: transform .4s .7s, opacity .4s .7s;
    transform: translateY(20px);
    opacity: 0;
  }

  img {
    max-width: 100%;
    transition: all .5s;
    position: absolute;
    top: 50%;
    transform: translateY(-50%) scale(1);
  }

  &.active {
    .post--content {
      transform: translateY(0);
      opacity: 1;
    }

    opacity: 1;
    z-index: 5;
  }

  &.inactive {
    transition: z-index .1s, opacity .4s .7s;
  }
}
