[layer="post"] {
  padding-top: $menu-height;
  position: absolute;
  top: 0;
  z-index: 3;
  overflow-y: scroll;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: z-index .7s, opacity .4s .7s;
  background: white;

  .post--full {
    height: 100%;
    width: 100%;
  }

  .img-wrapper {
    height: 200px;
    overflow: hidden;
    position: relative;
    width: 100%;
  }

  .post--content {
    max-width: 960px;
    margin: 0 auto;
  }

  img {
    max-width: 100%;
    transition: all .5s;
    position: absolute;
    top: 50%;
    transform: translateY(-50%) scale(1);
  }

  &.active {
    opacity: 1;
    z-index: 5;

    .post--content {
      @include animation(fadeIn .4s .8s 1 both);
    }
  }

  &.inactive {
    transition: z-index .7s, opacity .4s .7s;

    .post--content {
      @include animation(fadeOut .4s 0s 1 both);
    }
  }
}

@include keyframes(fadeIn) {
  0% { opacity: 0; transform: translateY(20px); }
  100% { opacity: 1; transform: translateY(0); }
}

@include keyframes(fadeOut) {
  0% { opacity: 1; transform: translateY(0); }
  100% { opacity: 0; transform: translateY(20px); }
}
