@include add-grid(12);
@include add-gutter(1/9);

* {
  box-sizing: border-box;
}

html,
body,
#app {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  font-size: 16px;
  font-family: 'robotoregular';
  overflow: hidden;
}

* {
  outline: none;
}

#app {
  width: 100%;
  box-sizing: content-box;
  padding-right: 20px;
}

[layer] {
  transition: all $speed;

  &.active {
    // For transition end event.
    opacity: 1;
  }

  &.inactive {
    // For transition end event.
    opacity: .999999;
  }
}
