/* line 4, ../../app/styles/layout/_layout.scss */
* {
  box-sizing: border-box;
}

/* line 8, ../../app/styles/layout/_layout.scss */
html,
body,
#app {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  font-size: 16px;
  font-family: 'robotoregular';
  overflow: hidden;
}

/* line 21, ../../app/styles/layout/_layout.scss */
* {
  outline: none;
}

/* line 25, ../../app/styles/layout/_layout.scss */
#app {
  width: 100%;
  box-sizing: content-box;
  padding-right: 20px;
}

/* line 31, ../../app/styles/layout/_layout.scss */
[layer] {
  transition: all 0.5s;
}
/* line 34, ../../app/styles/layout/_layout.scss */
[layer].active {
  opacity: 1;
}
/* line 39, ../../app/styles/layout/_layout.scss */
[layer].inactive {
  opacity: .999999;
}

/* line 1, ../../app/styles/layouts/_about.scss */
[layer="about"] {
  opacity: 0;
  z-index: -1;
  padding-top: 40px;
}
/* line 6, ../../app/styles/layouts/_about.scss */
[layer="about"].active {
  opacity: 1;
  z-index: 10;
}

/* line 1, ../../app/styles/layouts/_home.scss */
[layer="home"] {
  overflow: hidden;
  *zoom: 1;
  padding-top: 77px;
  z-index: 1;
  background: white;
  height: 100%;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}
/* line 12, ../../app/styles/layouts/_home.scss */
[layer="home"] .post-wrapper {
  height: 100%;
  overflow-y: scroll;
  position: relative;
}

/* line 1, ../../app/styles/layouts/_menu.scss */
[layer="menu"] {
  position: fixed;
  background: black;
  width: 100%;
  color: white;
  top: 0;
  left: 0;
  z-index: 21;
  height: 77px;
}
/* line 11, ../../app/styles/layouts/_menu.scss */
[layer="menu"] .logo {
  height: 40px;
}
/* line 15, ../../app/styles/layouts/_menu.scss */
[layer="menu"] ul {
  max-width: 960px;
  margin: 0 auto;
  padding: 18px 0;
}
/* line 20, ../../app/styles/layouts/_menu.scss */
[layer="menu"] ul li {
  display: inline-block;
  vertical-align: middle;
}
/* line 24, ../../app/styles/layouts/_menu.scss */
[layer="menu"] ul li:first-child {
  margin-right: 100px;
}
/* line 30, ../../app/styles/layouts/_menu.scss */
[layer="menu"] li + li {
  margin-left: 20px;
}
/* line 34, ../../app/styles/layouts/_menu.scss */
[layer="menu"] a:link, [layer="menu"] a:visited {
  color: white;
  text-decoration: none;
}

/* line 1, ../../app/styles/layouts/_post.scss */
[layer="post"] {
  padding-top: 77px;
  position: absolute;
  top: 0;
  overflow-y: scroll;
  height: 100%;
  width: 100%;
  background: white;
  z-index: 0;
}
/* line 11, ../../app/styles/layouts/_post.scss */
[layer="post"] .post--full {
  height: 100%;
  width: 100%;
}
/* line 16, ../../app/styles/layouts/_post.scss */
[layer="post"] .img-wrapper {
  height: 200px;
  overflow: hidden;
  position: relative;
  width: 100%;
}
/* line 23, ../../app/styles/layouts/_post.scss */
[layer="post"] .post--content {
  max-width: 960px;
  margin: 0 auto;
  opacity: 1;
}
/* line 29, ../../app/styles/layouts/_post.scss */
[layer="post"] img {
  max-width: 100%;
  transition: all .5s;
  position: absolute;
  top: 50%;
  transform: translateY(-50%) scale(1);
}
/* line 37, ../../app/styles/layouts/_post.scss */
[layer="post"].active {
  -webkit-animation: fadeInLayer 0.5s 0.6s 1 both;
  -moz-animation: fadeInLayer 0.5s 0.6s 1 both;
  -o-animation: fadeInLayer 0.5s 0.6s 1 both;
  animation: fadeInLayer 0.5s 0.6s 1 both;
}
/* line 40, ../../app/styles/layouts/_post.scss */
[layer="post"].active .post--content {
  -webkit-animation: fadeInPost 0.5s 0.6s 1 both;
  -moz-animation: fadeInPost 0.5s 0.6s 1 both;
  -o-animation: fadeInPost 0.5s 0.6s 1 both;
  animation: fadeInPost 0.5s 0.6s 1 both;
}
/* line 45, ../../app/styles/layouts/_post.scss */
[layer="post"].inactive {
  -webkit-animation: fadeOutLayer 0.4s 1 both;
  -moz-animation: fadeOutLayer 0.4s 1 both;
  -o-animation: fadeOutLayer 0.4s 1 both;
  animation: fadeOutLayer 0.4s 1 both;
}
/* line 48, ../../app/styles/layouts/_post.scss */
[layer="post"].inactive .post--content {
  -webkit-animation: fadeOutPost 0.4s 1 both;
  -moz-animation: fadeOutPost 0.4s 1 both;
  -o-animation: fadeOutPost 0.4s 1 both;
  animation: fadeOutPost 0.4s 1 both;
}

@-webkit-keyframes fadeInLayer {
  1% {
    z-index: 5;
  }
  100% {
    z-index: 5;
  }
}
@-moz-keyframes fadeInLayer {
  1% {
    z-index: 5;
  }
  100% {
    z-index: 5;
  }
}
@-o-keyframes fadeInLayer {
  1% {
    z-index: 5;
  }
  100% {
    z-index: 5;
  }
}
@keyframes fadeInLayer {
  1% {
    z-index: 5;
  }
  100% {
    z-index: 5;
  }
}
@-webkit-keyframes fadeOutLayer {
  1% {
    z-index: 5;
  }
  99% {
    z-index: 5;
  }
  100% {
    z-index: -1;
  }
}
@-moz-keyframes fadeOutLayer {
  1% {
    z-index: 5;
  }
  99% {
    z-index: 5;
  }
  100% {
    z-index: -1;
  }
}
@-o-keyframes fadeOutLayer {
  1% {
    z-index: 5;
  }
  99% {
    z-index: 5;
  }
  100% {
    z-index: -1;
  }
}
@keyframes fadeOutLayer {
  1% {
    z-index: 5;
  }
  99% {
    z-index: 5;
  }
  100% {
    z-index: -1;
  }
}
@-webkit-keyframes fadeInPost {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@-moz-keyframes fadeInPost {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@-o-keyframes fadeInPost {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fadeInPost {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@-webkit-keyframes fadeOutPost {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-20px);
  }
}
@-moz-keyframes fadeOutPost {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-20px);
  }
}
@-o-keyframes fadeOutPost {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-20px);
  }
}
@keyframes fadeOutPost {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-20px);
  }
}
/* line 4, ../../app/styles/modules/_devel.scss */
body:after {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: '';
  background-image: linear-gradient(to right, blue 0%, blue 7.56303%, #3f3fff 7.56303%, #3f3fff 8.40336%, blue 8.40336%, blue 15.96639%, #3f3fff 15.96639%, #3f3fff 16.80672%, blue 16.80672%, blue 24.36975%, #3f3fff 24.36975%, #3f3fff 25.21008%, blue 25.21008%, blue 32.77311%, #3f3fff 32.77311%, #3f3fff 33.61345%, blue 33.61345%, blue 41.17647%, #3f3fff 41.17647%, #3f3fff 42.01681%, blue 42.01681%, blue 49.57983%, #3f3fff 49.57983%, #3f3fff 50.42017%, blue 50.42017%, blue 57.98319%, #3f3fff 57.98319%, #3f3fff 58.82353%, blue 58.82353%, blue 66.38655%, #3f3fff 66.38655%, #3f3fff 67.22689%, blue 67.22689%, blue 74.78992%, #3f3fff 74.78992%, #3f3fff 75.63025%, blue 75.63025%, blue 83.19328%, #3f3fff 83.19328%, #3f3fff 84.03361%, blue 84.03361%, blue 91.59664%, #3f3fff 91.59664%, #3f3fff 92.43697%, blue 92.43697%, blue);
  user-select: none;
  pointer-events: none;
  z-index: 9999;
  opacity: 0;
  transition: opacity .5s;
}

/* line 21, ../../app/styles/modules/_devel.scss */
.has-grid-overlay-enabled:after {
  opacity: 0.3;
}

/* line 3, ../../app/styles/entities/_post-teaser.scss */
[layer="home"]:not(.out):hover .post--teaser {
  height: 30%;
}
/* line 6, ../../app/styles/entities/_post-teaser.scss */
[layer="home"]:not(.out):hover .post--teaser:after {
  opacity: .8;
}

/* line 13, ../../app/styles/entities/_post-teaser.scss */
.post--teaser {
  width: 100%;
  height: 33%;
  overflow: hidden;
  background: white;
  float: left;
  position: relative;
  outline: none;
}
/* line 22, ../../app/styles/entities/_post-teaser.scss */
.post--teaser:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0;
}
/* line 33, ../../app/styles/entities/_post-teaser.scss */
.post--teaser img {
  max-width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%) scale(1);
}
/* line 40, ../../app/styles/entities/_post-teaser.scss */
.post--teaser .teaser {
  position: absolute;
  top: 0;
  color: white;
}
/* line 46, ../../app/styles/entities/_post-teaser.scss */
.post--teaser:hover {
  height: 40% !important;
}
/* line 49, ../../app/styles/entities/_post-teaser.scss */
.post--teaser:hover:after {
  opacity: 0 !important;
}
/* line 53, ../../app/styles/entities/_post-teaser.scss */
.post--teaser:hover img {
  transform: translateY(-50%) scale(1.1);
}

/* line 60, ../../app/styles/entities/_post-teaser.scss */
[layer="home"].inactive .post--teaser:not(.active) {
  height: 0 !important;
}
/* line 63, ../../app/styles/entities/_post-teaser.scss */
[layer="home"].inactive .post--teaser:not(.active):after {
  opacity: .8 !important;
}
/* line 68, ../../app/styles/entities/_post-teaser.scss */
[layer="home"].inactive .post--teaser.active {
  height: 200px !important;
}
/* line 71, ../../app/styles/entities/_post-teaser.scss */
[layer="home"].inactive .post--teaser.active:after {
  opacity: 0;
}
/* line 75, ../../app/styles/entities/_post-teaser.scss */
[layer="home"].inactive .post--teaser.active img {
  transform: translateY(-50%) scale(1);
}

/* line 82, ../../app/styles/entities/_post-teaser.scss */
.post--teaser {
  transition: height 0.75s;
}
/* line 85, ../../app/styles/entities/_post-teaser.scss */
.post--teaser:after {
  transition: all 0.5s;
}
/* line 89, ../../app/styles/entities/_post-teaser.scss */
.post--teaser img {
  transition: all 0.5s;
}
